<div class="bordered-div">
    <p class="mat-h1">Create a Post</p>
    <mat-form-field>
        <mat-label for="postTitle">Title</mat-label>
        <input matInput placeholder="Ex. Welcome" type="text" [(ngModel)]="postTitle" name="postTitle" id="postTitle" required />
    </mat-form-field>

    <br />
    <br />

    <mat-form-field>
        <mat-label for="postAuthor">Author: </mat-label>
        <input matInput type="text" placeholder="Ex. Me!" [(ngModel)]="postAuthor" name="postAuthor" id="postAuthor" required minlength="3" />
    </mat-form-field>

    <br />
    <br />

    <mat-form-field>
        <mat-label for="postContent">Content: </mat-label>
        <textarea placeholder="Ex. A lot of text" mat-autosize matInput [(ngModel)]="postContent" name="postContent" required id="postAuthor">
        </textarea>
    </mat-form-field>

    <br />
    <br />

    <button (click)="createAPost(postTitle, postAuthor, postContent);" color="primary" mat-button>Create +</button>
</div>
